## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [52]:
ciudades = ['tokio','santiago','brasilia','nepal','londres']

2) Imprimir por pantalla el segundo elemento de la lista

In [16]:
print(ciudades[1])

santiago

3) Imprimir por pantalla del segundo al cuarto elemento

In [4]:
print(ciudades[1:4])

['santiago', 'brasilia', 'nepal']

4) Visualizar el tipo de dato de la lista

In [17]:
for i in range(0,5):
    print(type(ciudades[i]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [18]:
print(ciudades[2:])

['brasilia', 'nepal', 'londres']

6) Visualizar los primeros 4 elementos de la lista

In [8]:
print(ciudades[:4])

['tokio', 'santiago', 'brasilia', 'nepal']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [20]:
ciudades.extend(['tokio','sidney'])
print(ciudades)

['tokio', 'santiago', 'brasilia', 'nepal', 'londres', 'Argentina', 'Uruguay', 'tokio', 'sidney']

8) Agregar otra ciudad, pero en la cuarta posición

In [10]:
ciudades.insert(3,"mexico")
print(ciudades)

['tokio', 'santiago', 'brasilia', 'mexico', 'nepal', 'londres', 'tokio', 'sidney']

9) Concatenar otra lista a la ya creada

In [19]:
paises=['Argentina','Uruguay']
ciudades.extend(paises)
nueva_lista=ciudades
print(nueva_lista)

['tokio', 'santiago', 'brasilia', 'nepal', 'londres', 'Argentina', 'Uruguay']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [27]:

print(nueva_lista)
print(nueva_lista[:].index("tokio"))
print(nueva_lista[2:].index("tokio"))

['tokio', 'santiago', 'brasilia', 'nepal', 'londres', 'Argentina', 'Uruguay', 'tokio', 'sidney']
0
5

11) ¿Qué pasa si se busca un elemento que no existe?

In [28]:
print(nueva_lista[:].index("que no existe"))

ValueError: 'que no existe' is not in list

12) Eliminar un elemento de la lista

In [32]:
nueva_lista.remove("Uruguay")

13) ¿Qué pasa si el elemento a eliminar no existe?

In [35]:
nueva_lista.remove("Uruguay")

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [36]:
ultimo = nueva_lista.pop()
print(ultimo)

sidney

15) Mostrar la lista multiplicada por 4

In [38]:
print(nueva_lista*4)

['tokio', 'santiago', 'brasilia', 'nepal', 'londres', 'Argentina', 'tokio', 'tokio', 'santiago', 'brasilia', 'nepal', 'londres', 'Argentina', 'tokio', 'tokio', 'santiago', 'brasilia', 'nepal', 'londres', 'Argentina', 'tokio', 'tokio', 'santiago', 'brasilia', 'nepal', 'londres', 'Argentina', 'tokio']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [39]:
Tupla=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(Tupla)
print(type(Tupla))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
<class 'tuple'>

17) Imprimir desde el índice 10 al 15 de la tupla

In [40]:
print(Tupla[10:15])

(11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [41]:
print(20 in Tupla)
print(30 in Tupla)

True
False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [54]:
if "paris" in ciudades:
    print("Estaba en la lista")
else:
    print("No estaba en la lista")
    string="paris",
    ciudades.extend(string)
print(ciudades)

Estaba en la lista creada
['tokio', 'santiago', 'brasilia', 'nepal', 'londres', 'paris']

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [60]:
print(ciudades.count("paris"))
print(string.count("paris"))
print(type(ciudades))
print(type(string))

1
1
<class 'list'>
<class 'tuple'>

21) Convertir la tupla en una lista

In [61]:
tupla_ciudades = tuple(ciudades)

lista_ciudades=list(tupla_ciudades)

print(type(ciudades))
print(type(tupla_ciudades))
print(type(lista_ciudades))

<class 'list'>
<class 'tuple'>
<class 'list'>

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [71]:
print(tupla_ciudades)
ciudad1,ciudad2,ciudad3=tupla_ciudades[0:3]
print(ciudad1)
print(ciudad2)
print(ciudad3)

('tokio', 'santiago', 'brasilia', 'nepal', 'londres', 'paris')
tokio
santiago
brasilia

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [107]:
x=0
for x in range(0,len(ciudades)):
    mi_dicci["ciudad",x ] = {ciudades[x]}
print(mi_dicci)

{('ciudad', 0): {'tokio'}, ('ciudad', 1): {'santiago'}, ('ciudad', 2): {'brasilia'}, ('ciudad', 3): {'nepal'}, ('ciudad', 4): {'londres'}, ('ciudad', 5): {'paris'}}

24) Imprimir las claves del diccionario

In [109]:
print(mi_dicci.keys())

dict_keys([('ciudad', 0), ('ciudad', 1), ('ciudad', 2), ('ciudad', 3), ('ciudad', 4), ('ciudad', 5)])

25) Imprimir las ciudades a través de su clave

In [134]:
claves=list(mi_dicci.keys())
for x in range(0,len(mi_dicci)):
    print(mi_dicci[claves[x]])

{'tokio'}
{'santiago'}
{'brasilia'}
{'nepal'}
{'londres'}
{'paris'}