## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
w=39
w

39

2) Imprimir el tipo de dato de la constante 8.5

In [5]:
type (8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [6]:
type(w)

int

4) Crear una variable que contenga tu nombre

In [7]:
Nombre = "Walter Nestor"

5) Crear una variable que contenga un número complejo

In [8]:
i = 3+14j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [9]:
type (i)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [17]:
import math
print(math.pi)
round(math.pi,4)

3.141592653589793

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [28]:
T = True
S = 'True'

T==S

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [ ]:
print(type(T))
print(type(S))

10) Asignar a una variable, la suma de un número entero y otro decimal

In [22]:
A = 3+0.44
A

3.44

11) Realizar una operación de suma de números complejos

In [26]:
A = 3+45j + 6+10J

A1= 3+45j 
A2 = 6+10J
A3 = A1+A2

print(A)
print(A3)

(9+55j)
(9+55j)

12) Realizar una operación de suma de un número real y otro complejo

In [29]:
A1= 3
A2 = 6+10J
A3 = A1+A2


print(A3)

(9+10j)

13) Realizar una operación de multiplicación

In [30]:
A1= 3
A2 = 6+10J
A3 = A1*A2


print(A3)

(18+30j)

14) Mostrar el resultado de elevar 2 a la octava potencia

In [31]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [32]:
27/4

6.75

16) De la división anterior solamente mostrar la parte entera

In [37]:
A=27//4
A

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [38]:
B=27%4
B

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [39]:
4*A+B

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [41]:
"variables"+" alfanumericas"

'variables alfanumericas'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [43]:
"2"==2 #Ocurre porque son diferentes tipos#

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [58]:
num = "2"
num = int(num)
num +=2;
print(num);
print(type(num));

4
<class 'int'>

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [62]:
a = float('3.8')
#Por la coma en lugar del punto

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [65]:
var =3
var-=1
var

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [66]:
1<<2

#Es el viejo conocido shift regiter (0001) = 1 => (0001)<<2=(0100) y (0100) = 4

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [68]:
num = '2'
num = int(num)
num = 2+num;
num

4

26) Realizar una operación válida entre valores de tipo entero y string

In [69]:
A = '2'
B = 3
num = int(A)
num = B+num;
num

5